<%# ヘッダー %>
<div class="header">
  <div class="header-left">
    MPT<br><span class="sub-logo">理学療法士マッチング</span>
  </div>
  <div class="header-right">
    <ul class="header-lists">
      <li class="header-list">新規登録</li>
      <li class="header-list">ログイン</li>
    </ul>
  </div>
</div>
<%# ヘッダー %>

<div class="top-image">
  <%= image_tag "top-image.jpg", alt: "top-image", class: "pt-image"%>
  <div class="image-letter">新たな学びを探そう</div>
</div>

<%# サービス %>
<div class="service">
  <h1>servise<h1>
  <div class="service-contents">
    <div class="content">
      <h2>次世代の医療</h2>
      <div class="service-explain">これは次世代型のテキストです。</div>
    </div>
    <div class="content">
      <h2>安心</h2>
      <div class="service-explain">これは安心のテキストです。</div>
    </div>
    <div class="content">
      <h2>質</h2>
      <div class="service-explain">これは質のテキストです。</div>
    </div>
  </div>
</div>
<%# サービス %>

<%# 理学療法士一覧 %>
<div class="pt-index">
  <h1>理学療法士一覧<h1>
  <div class="pt-all-contents">
    <div class="pt-content">
      <div class="pt-image">PT写真1</div>
      <div class="pt-profile">プロフィール</div>
    </div>
    <div class="pt-content">
      <div class="pt-image">PT写真2</div>
      <div class="pt-profile">プロフィール</div>
    </div>
    <div class="pt-content">
      <div class="pt-image">PT写真3</div>
      <div class="pt-profile">プロフィール</div>
    </div>
  </div>
</div>
<%# 理学療法士一覧 %>

<%# フッター %>
<div class="footer">
ここはフッターです
</div>
<%# フッター %>